<div class="footer">
    <div class="container d-flex justify-content-center">
        <span class="title w-25">
            Contact Us
        </span>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="d-flex flex-column text-dark align-items-center justify-content-center">
                    <img class="footer-icons" src="images/map-icon.png">
                    <p class="email-text text-center">Gb road 123 londo<br>Uk</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex flex-column text-dark align-items-center justify-content-center">
                    <img class="footer-icons" src="images/call-icon.png">
                    <p class="email-text text-center">+7123654897</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex flex-column text-dark align-items-center justify-content-center">
                    <img class="footer-icons" src="images/email-icon.png">
                    <p class="email-text text-center">demo&#64;gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-field">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center text-light">
                    <p>© 2019 All Rights Reserved. <a href="https://html.design">Free Website
                            Templates</a></p>
                </div>
            </div>
        </div>
    </div>
</div>