<div class="container">
    <div class="py-5">
        <button class="custom-btn p-2 rounded" (click)="openDialog()">Add New Article</button>
        <h1 class="text-center fw-bolder blog-title">Our Blog</h1>
    </div>
    <div class="row">
        @for (article of articles; track $index) {
        <div class="col-md-4">
            <div class="card rounded m-3 position-relative">
                <img src="{{article.img}}" alt="">
                <span class="position-absolute date-label custom-bg-primary py-2 px-3 text-light">
                    {{article.date | date}}
                </span>
                <span class="p-4 custom-text-gray">
                    {{article.shortContent}}
                </span>
            </div>
        </div>
        }
    </div>
</div>