<div class="home-container">
    <div class="custom-carousel">
        @let slides = slides$ | async;
        @if (slides?.length) {
        <div class="container">
            <ngb-carousel>
                @for (slide of slides; track $index) {
                <ng-template ngbSlide>
                    <div class="text-center">
                        <h1 class="text-light">{{slide.title}}</h1>
                        <h2 class="custom-text-secondary">{{slide.highlight}}</h2>
                        <span class="text-light carousel-description py-5">{{slide.description}}</span>
                        <div class="my-5">
                            <button class="px-3 py-1 rounded custom-btn">
                                Contact
                            </button>
                        </div>
                    </div>
                </ng-template>
                }
            </ngb-carousel>
        </div>
        }
    </div>
    <div class="about-container container">
        <app-about-shared></app-about-shared>
    </div>
    <div class="container services-container">
        <app-services-shared></app-services-shared>
    </div>
    <div class="quote-area py-4 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="quote-field d-flex flex-column">
                        <h1 class="quote-title text-light">
                            Quote for Today
                        </h1>
                        <span class="quote-content text-light">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page
                        </span>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center h-100">
                        <button class="px-3 py-1 rounded custom-btn">
                            Get A Quote
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-area">
        <app-contact-shared></app-contact-shared>
    </div>
</div>