<div class="home-container">
    <div class="custom-carousel pt-5">
        <div class="container">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="text-center">
                        <h1 class="text-light">Welcome To</h1>
                        <h2 class="custom-text-secondary">Content Writing Service</h2>
                        <span class="text-light carousel-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking</span>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>