.custom-carousel {
    background-image: url("/images/banner.png");
    padding: 70px 0;
}

.custom-carousel h1,
.custom-carousel h2 {
    font-size: 45px;
}

.carousel-description {
    font-size: 19px;
    margin: 20px;
    padding-bottom: 30px;
}

.about-container {
    margin-top: -80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px;
    margin-bottom: 50px;
}

.services-container {
    margin-bottom: 75px;
}

.quote-area {
    background-color: #076787;
}

.quote-content {
    font-size: 18px;
}
