<div class="content-field py-3">
    <div class="text-center text-dark d-flex justify-content-center">
        <span class="fw-bold border-bottom border-dark content-title w-50">
            Creative Content Writing Services
        </span>
    </div>
    <div class="content-body p-4 text-dark text-center">
        It is a long established fact that a reader will be distracted by the readable content of a page when
        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
        of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
        desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
        search for 'lorem ipsum' will uncover many web sites still in their infancIt is a long established fact
        that a reader will be distracted by the readable content of a page when looking at its layout. The point
        of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
        'Content here, content here', making it look like readable English. Many desktop publishing packages and
        web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
        uncover many web sites still in their infanc
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <button class="px-3 py-1 rounded custom-btn">
            Get Started
        </button>
    </div>
</div>