<div class="text-center text-dark d-flex justify-content-center mt-5">
    <span class="fw-bold border-bottom border-dark content-title w-25">
        Our Services
    </span>
</div>
<div class="text-center text-dark d-flex justify-content-center">
    <div class="row">
        @for (cardData of cardElements; track $index) {
        <div class="col-md-6 bg-light">
            <div class="mt-5 mx-5 custom-bg-primary h-100">
                <div class="text-light d-flex flex-column align-items-start">
                    <div class="my-5 custom-ms-20px"><img src="{{cardData.img}}"></div>
                    <h1 class="text-light custom-ms-20px">{{cardData.title}}</h1>
                    <p class="text-start">{{cardData.content}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>